<p id="notice"><%= notice %></p>

<p>
  <b>Fuid:</b>
  <%= @uservote.fuid %>
</p>

<p>
  <b>Eventid:</b>
  <%= @uservote.eventid %>
</p>


<%= link_to 'Edit', edit_uservote_path(@uservote) %> |
<%= link_to 'Back', uservotes_path %>
