<p id="notice"><%= notice %></p>

<p>
  <b>Uname:</b>
  <%= @user.uname %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>



<b><%= link_to 'Check out the food events!', campus_foods_path %></b> 
